@{
    ViewBag.Title = "Correios CEP";
}
<form>
    <div class="form-group">
        <label> Cep:</label>
        <input class="form-control" data-mask="00000-000" id="Cep" placeholder="Informe o CEP">
    </div>
    <div class="form-group">
        <label> Rua:</label>
        <input class="form-control" id="Rua">
    </div>
    <div class="form-group">
        <label> Bairro:</label>
        <input class="form-control" id="Bairro">
    </div>
    <div class="form-group">
        <label> Cidade:</label>
        <input class="form-control" id="Cidade">
    </div>
    <div class="form-group">
        <label> Estado:</label>
        <input class="form-control" id="Estado">
    </div>
    @*<button type="submit" class="btn btn-primary">Submit</button>*@
</form>
